.timeline__step_finished{

  .timeline__dot_start-dot{
    border-color: $colorGreen;
    background-color: $colorGreen;
  }

  .timeline__line{
    background-color: $colorGreen;
  }

  .timeline__dot_finish-dot{
    border-color: $colorGreen;
    background-color: $colorGreen;
  }

}