main{
  width: 95%;
  min-width: 320px;
  overflow: auto;
  margin: 0 auto 150px;

}

h1{
  display: block;
  padding: 0.8em 0 0.5em;
  font-size: 2em;
  text-align: center;
}

.demonstration-container{
  width: 90%;
  margin: 0 auto;
}

.demonstration-container__controls{
  text-align: center;

  button{
    padding: 5px 3px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    font-size: 12px;
  }
}

h2 {
  display: block;
  padding: 1em 0 0.4em;
  font-size: 1.8em;
  text-align: center;
}

@import "timeline/timeline";